<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
  <globalization
  requestEncoding="utf-8"
  responseEncoding="utf-8"
  fileEncoding="utf-8"
  culture="zh-CN"
  uiCulture="zh-CN"/>
    <compilation debug="true" targetFramework="4.0" />
   <!-- <httpRuntime targetFramework="4.0" />-->
    <pages>
      <namespaces>
        <add namespace="System.Web.Optimization" />
      </namespaces>
      
    <controls>
		<!--  <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" /> -->
    </controls></pages>
  </system.web>
  <system.webServer>
    <staticContent>
    <!--  <mimeMap fileExtension=".js" mimeType="application/javascript" />-->
    </staticContent>
  </system.webServer>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>